@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.body{
    font-family: Raleway;
    max-width: 1160px;
    margin: auto;
}
/*Je cherche à séparer la page en 4 partie avec la première sur toute la largeur, la deuxième et troisième qui se partage le milieu de la page et la quatrième à la fin*/
.header{
    background-color: rgb(23, 171, 179);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px;  
}
.picture{
    max-width: 100px;
    max-height: 100px;
    border: 5px solid white;
    border-radius:50%;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
h1{
    font-family: Lato;
}
h2{ 
    font-family: Lato;
    color: rgb(23, 171, 179);
    border-bottom:1px solid   
}
a{
    text-decoration: none;
    color: white;
}
.work{
    border-bottom: unset;
    color: unset;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 200px;
    gap: 0.5em;   
}
.cv-container{
    display: flex;
    gap: 1em;
}
.left-column{
    display: flex;
    max-width: 200px;
    background-color: rgb(227, 227, 227);
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    padding: 2em;
       
}
ul{
    list-style: none;
    color: rgb(23, 171, 179);
}
li{
    color: black;
}
/* Là on les <ul> en row et les <li> en column pour donné cette impression de que les compétences soient ratachées à leur niveau de maîtrise */
.skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-content: flex-start;
    gap: auto;
    margin-left: -72px;
    margin-top: 1px;
}
.skill-left{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;  
}
.skill-right{
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
/* j'ai défini la taille des étoiles pour les faire correspondre à celle tu texte en face*/
.star-full{
    max-width: 11px;
    max-height: 11px;
}
.empty-star{
    max-width: 11px;
    max-height: 11px;   
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -72px;
}
.languages-left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-weight: bold;
    gap: 10px;
}
.languages-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    gap: 5px;
}   
.quality{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: square;
    margin-left: -15px;
}
.interest{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: square;
    margin-left: -15px;
}   
.right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    min-width: 75%;  
}
.formation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5em;
}
.formation-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
}
.formation-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
    color: rgb(23, 171, 179);
}
.internship{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5em;
}
.internship-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
}
.internship-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
    color: rgb(23, 171, 179);
}
.experiences{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5em;
}
.experiences-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
}
.experiences-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
    color: rgb(23, 171, 179);

}
.footer{
    background-color: rgb(23, 171, 179);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px
}
.icons {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.icon{       
  display: flex;
  gap: 20px; 
  margin-bottom: 10px;
  height: 50px;
}

